html, body {
    height: 100%;
    margin: 0 auto;
    background-color: black;
    text-align: center;
}

.main-content {
    margin-bottom: -400px;
    font-family: 'La Belle Aurore', cursive;
    background-image: url("./images/1.jpg");
    color:orange;
}

.push {
    height: 400px;
}
.head{
    color:rgb(0, 4, 255);
}